@page "/add-new"
@inject IStoreRepository Repository
@inject NavigationManager Navigation

<PageTitle>Add New Item</PageTitle>

<div class="row justify-content-center">
    <div class="col-6">
        <ItemForm IsEditMode="false" OnValidItemSubmit="AddItem" />
    </div>
</div>

@code {

    private async Task AddItem(Item item)
    {
        await Repository.AddAsync(item);
        Navigation.NavigateTo("/");
    }
}
